[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
discordhealthcheck = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
alembic = "*"
colorlog = "*"

[dev-packages]

[requires]
python_version = "3.11"
